.CFUserTextEncoding
.DS_Store
.bash_history
.bash_sessions
.cache
.local
.mylogin.cnf
.mysql_history
.ngrok
.npm
.ssh
.vscode
.zprofile
.zsh_history
.zsh_sessions
.zshrc
.lesshst
.viminfo
.node_repl_history
.ts_node_repl_history
*.csv
.nvm
.npmrc

upload.sh
aws.jar
install.log

.aws/
.browserstack
.dbclient/
.docker/
.gk/
.gnupg/
.vim/
.vscode-oss/
temp/


Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Postman/
Public/
Session/
go/
projects/
Applications/
omp.cache
.Trash/
.config/iTerm2/*
.config/configstore
.config/dap
.config/htop
.config/neofetch
.config/configstore
.config/raycast
.config/spicetify

# nvchad
# nvchad
